{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "modules": "auto",
                "corejs": 3,
                "loose": false
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "ignore": ["public/*"]
}
