.search-options {
    /* is dvach URL */
    &__is-dvach-url-block {
    }

    &__is-dvach-url-label {
    }

    &__is-dvach-url-checkbox {
    }

    &__is-dvach-url-label-text {
    }

    /* is generic URL */
    &__is-generic-url-block {
    }

    &__is-generic-url-label {
    }

    &__is-generic-url-checkbox {
    }

    &__is-generic-url-label-text {
    }
}
