.dvach-filter {
    &:last-child &__filter-combinator {
        display: none;
    }

    &__option-block {
    }

    &__remove-block {
    }

    &__remove-button {
    }

    &__filter-combinator {
    }
}
