.filter-text-option {
    /* text input */
    &__text-input-label {
    }

    &__text-input-label-text {
    }

    &__text-input {
    }

    /* use regex checkbox */
    &__use-regex-label {
    }

    &__use-regex-label-text {
    }

    &__use-regex-checkbox {
    }

    /* negate checkbox */
    &__negate-label {
    }

    &__negate-label-text {
    }

    &__negate-checkbox {
    }
}
