.dvach-filters-block {
    &_hidden {
        display: none;
    }

    &__list {
    }

    &__dvach-filter {
    }

    &__type-select {
    }

    &__type-option {
    }

    &__add-block {
    }

    &__add-button {
    }

    &__toggle-combinators-block {
        &_hidden {
            display: none;
        }
    }

    &__toggle-combinators-button {
    }
}
