.markov-chains-app {
    &__header {
    }

    &__heading {
    }

    &__main-content {
    }

    &__generated-text-block {
    }

    &__generate-text-block {
    }

    &__generate-text-button {
    }

    &__generation-settings {
    }

    &__text-sources-list {
    }

    &__footer {
    }
}
