.text-sources-list {
    &__heading {
    }

    &__list {
    }

    &__text-source {
    }

    &__even-probabilities-block {
        &_hidden {
            display: none;
        }
    }

    &__even-probabilities-button {
    }

    &__add-new-text-source-block {
    }

    &__add-new-text-source-button {
    }
}
